:root {
  /*  правила кольорів */
  --primary-text-color: #757575;
  --title-text-collor: #212121;
  --accent-color: #2196f3;
  --accent-wht-collor: #ffffff;
  --accent-blck-color: #000000;
  --accent-footer-color: rgba(255, 255, 255, 0.6);
  --background-color: #f5f4fa;
  --background-accent-color: #2f303a;
  --background-hero-color: rgba(47, 48, 58, 0.4);
}

.main {
  /*  загальні налаштування */
  background-color: var(--accent-wht-collor);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
a {
  display: inline-block;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}
/* налаштування логотипу */
.logo {
  display: block;
  padding: 24px 0;
  margin-right: 93px;

  color: var(--accent-blck-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: var(--accent-color);
}

.header-container,
.header-nav,
.header-list {
  display: flex;
}

.header-auth {
  display: flex;
  margin-left: auto;
}
.nav-item:not(:last-child),
.auth-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  padding: 32px 0;

  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav {
  color: var(--title-text-collor);
}
.auth {
  color: var(--primary-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
/* налаштування блоку герой */
.hero {
  background-color: var(--background-hero-color);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 0;
  margin: 0;
}
.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--accent-wht-collor);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  padding: 0;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  color: var(--accent-wht-collor);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: solid transparent;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--accent-wht-collor);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* налаштування переваг */
.section-advantages.section {
  padding-bottom: 0px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  width: 270px;
}
.advantages-title {
  color: var(--title-text-collor);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.advantages-text {
  font-weight: 400;
  line-height: 1.71;
}
/* налаштування прикладів робіт */
.section-work {
  padding-top: 94px;
}
.work-list {
  display: flex;
  justify-content: space-between;
}
.work-title,
.team-title {
  color: var(--title-text-collor);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}

.section-team {
  background-color: var(--background-color);
  min-height: 648px;
}

/* налаштування команди */
.team-deskription {
  padding-bottom: 30px;
}
.team-item {
  min-height: 368px;
  width: 270px;
  background-color: var(--accent-wht-collor);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: #000000 3px;
}
.team-name {
  text-align: center;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-img {
  margin-bottom: 30px;
}
.team-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
/* налаштування сторінки портфоліо */
.examples-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.examples-title {
  color: var(--title-text-collor);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.examples-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
/* налаштування кнопок портфоліо */
.button-secondary {
  color: var(--title-text-collor);
  background-color: var(--background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  border-radius: 4px;
  min-height: 38px;
  border: solid transparent;
}
.examples-button-list .examples-button:not(:last-child) {
  margin-right: 8px;
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--accent-wht-collor);
  background-color: var(--accent-color);
}

.link.examples {
  padding: 0;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.examples-img {
  margin-bottom: 20px;
}
.examples-item {
  width: 370px;
}
.examples-card-text {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 24px 20px;
}

/* загальні налаштування футера */
footer {
  background-color: var(--background-accent-color);
}
.logo-footer {
  /* лого футера */
  color: var(--accent-wht-collor);
  padding-top: 60px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 0;
}
.link-gmaps {
  /* налаштування посилань футера */
  color: var(--accent-wht-collor);

  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;
}
.link-address {
  color: var(--accent-footer-color);

  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;
}
.link-address.last {
  margin-bottom: 0;
}
.link-address:hover,
.link-address:focus {
  color: var(--accent-color);
}
.footer-list {
  padding-bottom: 60px;
}
.visually-hiden {
  /* переховування заголовків */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-secondary.current {
  color: var(--accent-wht-collor);
  background-color: var(--accent-color);
}

/*
.main {
  outline: 2px solid orange;
}
.header {
  outline: 2px solid orange;
}
.header-nav {
  outline: 2px solid orange;
}
.logo {
  outline: 2px solid orange;
}
.accent {
  outline: 2px solid orange;
}
.container {
  outline: 2px solid orange;
}
.link {
  outline: 2px solid orange;
}
.nav {
  outline: 2px solid orange;
}
.current {
  outline: 2px solid orange;
}
.auth {
  outline: 2px solid orange;
}
.hero {
  outline: 2px solid orange;
}
.hero-title {
  outline: 2px solid orange;
}
.hero-button {
  outline: 2px solid orange;
}
.section-advantages {
  outline: 2px solid orange;
}
.visually-hiden {
  outline: 2px solid orange;
}
.advantages {
  outline: 2px solid orange;
}
.advantages-title {
  outline: 2px solid orange;
}
.advantages-text {
  outline: 2px solid orange;
}
.section-work {
  outline: 2px solid orange;
}
.work-title {
  outline: 2px solid orange;
}
.section-team {
  outline: 2px solid orange;
}
.team-title {
  outline: 2px solid orange;
}
.name-title {
  outline: 2px solid orange;
}
.team-text {
  outline: 2px solid orange;
}
.footer {
  outline: 2px solid orange;
}
.link-gmaps {
  outline: 2px solid orange;
}
.link-address {
  outline: 2px solid orange;
}
 */
